@import 'main.css';

:root {
    --exp: #20271E;
    --sig: #261D25;
}

.floats {
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    max-width: 70%;
    margin: 2% auto;
    box-shadow: 0 0 40px 8px var(--navbar2);
    overflow: hidden;
    padding: 1%;
}

.bitfield {
    text-align: center;
}

.sig {
    max-width: 2vw;
    max-height: 2vw;
    text-align: center;
    font-size: 200%;
    background-image: linear-gradient(to right, var(--sig) , var(--exp));
}

.exp {
    max-width: 2vw;
    max-height: 2vw;
    text-align: center;
    font-size: 200%;
    background-color: var(--exp);
}

.hex {
    max-width: 2vw;
    max-height: 2vw;
    text-align: center;
    font-size: 200%;
    background-color: var(--hover);
}

.output {
    text-align: center;
    margin: 0 auto;
}

#decimal {
    background-color: var(--hover);
    font-size: 200%;
    float: left;
    max-width: 100%;
    min-width: 40%;
}

#hexadecimal {
    background-color: var(--hover);
    font-size: 200%;
    float: right;
    max-width: 38%;
    min-width: fit-content;
}